@media only screen and (min-width: 729px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 1px;
        background-color: rgb(250, 204, 223);
    }

    header {
        background-color: rgb(145, 84, 202);
        padding: 1rem;
        text-align: center;
        border-bottom: 2px dotted black;
    }


    article {
        background-color: rgb(250, 204, 223);
        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        padding: 20px;
    }

    .profile-pic {
        display: block;
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
        border-radius: 30%;
        min-width: 150px;
        width: 40%;
    }

    .project-pic {
        margin-bottom: 1em;
        min-width: 320px;
    }

    .profile {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 5px 5px;
        align-content: flex-start;
        align-items: flex-start;
        flex: 1.6;
        line-height: 1.4em;
    }

    .works {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 5px 5px 0px;
        align-items: flex-start;
        flex: 1.8;
        line-height: 1.4em;
    }

    footer {
        background-color: rgb(60, 40, 92);
        color: white;
        display: block;
        padding: 1rem;
        border-top: 2px dotted black;
    }

    a:link {
        text-decoration: underline;
        color: rgb(26, 136, 170);
    }
    a:visited {
        color: rgb(29, 194, 84);
    }
    a:active {
        color: rgb(190, 46, 70);
    }
}
@media (min-width: 320px) and (max-width: 728px) {

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        background-color: rgb(250, 204, 223);
    }
    
    header {
        background-color: rgb(145, 84, 202);
        padding: 1rem;
        text-align: center;
        border-bottom: 2px dotted black;
    }

    article {
        background-color: rgb(250, 204, 223);
        color: black;
        display: block;
        padding: 1rem;
        align-content: center;
    }

    h2 {
        text-align: center;
    }
    
    .profile-pic {
        display: block;
        margin-bottom: 1em;
        border-radius: 30%;
        min-width: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    
    .project-pic {
        display: block;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        margin: 10px;
        align-items: center;
        line-height: 1.4em;
    }

    .works {
        display: block;
        line-height: 1.4em;
    }
    
    footer {
        background-color: rgb(60, 40, 92);
        color: white;
        display: block;
        padding: 1rem;
        border-top: 2px dotted black;
    }
    
    a:link {
        color: rgb(26, 136, 170);
    }
    a:visited {
        color: rgb(29, 194, 84);
    }
    a:active {
        color: rgb(190, 46, 70);
    }
}